$color1: #FFFFFF;
$color2: #1A1A19;
$color3: #0D0D0B;
$color4: #FEE442;
$color5: #F59A31;
$color6: #EF3C1E;
$color7: #00FF81;
$color8: #949494;
$color9: #4F4F4A;

.body-wrapper{
    background-color: $color3;
    color: $color1;
    padding: 1rem 1rem;
    .page-title{
        font-weight: 200;
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }
    .card{
        background-color: $color2;
        border: 1px solid $color9;
        border-radius: 5px;
        font-size: 1.4rem;
        padding: 1rem 1rem;
        .flow-diagram-wrapper{
            .title{
                font-weight: 200;
                font-size: 1.2rem;
                padding-bottom: 1rem;
            }
            .interactions{
                font-weight: 500;
                font-size: 1.5rem;
                padding-bottom: 0.2rem;
            }
            .sub-text{
                font-weight: 500;
                font-size: 0.8rem;
                letter-spacing: 0.2rem;
                padding-bottom: 1rem;
            }
        }
    }
}
.data-table-wrapper{
    .tab-head{
        border-bottom: 2px solid $color9;
        .tab-btn{
            font-weight: 200;
            font-size: 1.1rem;
            padding: 0.5rem 0rem;
            border-bottom: 2px solid $color7;
            width: fit-content;
            transform: translateY(1.2px);
            cursor: pointer;
        }
    }
}
.data-table-container{
    padding: 0.5rem 0rem;
    .emp-search-bar{
        display: flex;
        align-items: center;
        justify-content: left;
        width: fit-content;
        height: 2.5rem;
        border-radius: 5px;
        border: 1px solid $color8;
        background-color: $color3;
        input{
            width: 35rem;
            height: 100%;
            background-color: transparent;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            border: 0px solid;
            outline: none;
            color: $color8;
            font-size: 1rem;
        }
        .btn{
            color: $color8;
            height: 100%;
            outline: none;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
            background-color: transparent;
            border: 0;
            border-left: 1px solid $color8;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .employee-data-table{
        background-color: $color2;
        .emp-name-wrapper{
            display: flex;
            align-items: center;
            justify-content: left;
            .dp-wrapper{
                background-color: $color9;
                height: 18px;
                width: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                padding: 0.35rem 0.35rem;
                color: $color1;
            }
            .emp-name{
                padding: 0px 0.5rem;
                color: $color1;
            }
        }
        .score-wrapper{
            display: flex;
            align-items: center;
            justify-content: left;
            .score-indicator{
                background-color: $color7;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                &.severe{
                    background-color: $color6;
                }
                &.high{
                    background-color: $color5;
                }
                &.medium{
                    background-color: $color4;
                }
                &.low{
                    background-color: $color7;
                }
            }
            .score-text{
                padding: 0px 0.5rem;
                color: $color1;
            }
        }
        .frequency-text{
            // padding-left: 2rem;
            color: $color1;
        }
    }
    .custom-style{
        .ag-root-wrapper{
            border-radius: 0;
            border: 0;
        }
        .full-width-grid{
            // width: 100%;
            height: 100%;
        }
        .ag-header-cell, .ag-cell{
            padding-left: 0;
        }
        .ag-header-cell-text{
            font-weight: 400;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
        }
        .ag-row, .ag-header-row{
            border: 1px;
            border-bottom: 1px solid $color8;
        }
    }
    .pagination-wrapper{
        padding: 0.5rem 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pagination-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            .dots{
                width: 2.5rem;
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
                font-weight: 400;
            }
            .pagination-btn {
                height: 2rem;
                width: 3.5rem;
                background-color: transparent;
                color: white;
                border: none;
                font-size: 1rem;
                font-weight: 400;
                border-radius: 5px;
                cursor: pointer;
                margin: 0.1rem 0.1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s;
                &.active {
                    background-color: $color7;
                    color: $color3;
                    font-weight: 600;
                }
                &.prev, &.doublePrev{
                    transform: rotate(180deg);
                }
            }
        }
        .pagination-status{
            font-size: 0.8rem;
            font-weight: 200;
        }
    }
}

.custom-chart-wrapper{
    .starting-node-wrapper{
        .starting-node{
            height: 15rem;
            width: 0.7rem;
            background-color: $color8;
            border-radius: 10px;
        }
    }
    .custom-node-wrapper{
        .custom-node{
            display: flex;
            align-items: center;
            .node-start{
                background-color: $color8;
                padding: 0.8rem 0.25rem;
                border-radius: 10px;
                margin-right: 0.5rem;
            }
            .custom-node {
                display: flex;
                background-color: $color8;
                padding: 0.4rem 0.4rem;
                border-radius: 10px;
                min-width: 14rem;
                .count{
                    font-size: 1rem;
                    font-weight: 700;
                    padding: 0rem 0.2rem;
                    color: $color3;
                }
                .label{
                    font-size: 1rem;
                    font-weight: 400;
                    padding: 0rem 0.2rem;
                    color: $color3;
                }
            }
        }
    } 
}



